http://gcs.local {
	@health path /health
	handle @health {
		respond "ok" 200
	}

	redir https://gcs.local{uri} 308
}

https://gcs.local {
	tls internal

	@health path /health
	handle @health {
		respond "ok" 200
	}

	# IMPORTANT: strip /api before proxying
	handle_path /api/* {
		reverse_proxy api:8000
	}

	handle {
		reverse_proxy web:80
	}
}